.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem 4rem;
  z-index: 1000;

  @include respond(phone) {
    padding: 2rem 2rem;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;

    @include respond(tab-port) {
      gap: 2.5rem;
    }

    @include respond(phone) {
      gap: 2rem;
    }
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 500;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    transition: all 0.3s ease;
    padding: 0.5rem 0;

    @include respond(phone) {
      font-size: 1.4rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}
